<%- include header.html %>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <h1 id="seon_header"><span>SEON</span>: SQL | Express | OpenShift | Node.JS</h1>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>Hello, whirled.</h1>
            <p>This is a template for creating a <a href="http://nodejs.org/" target="_blank">Node.JS</a>, <a href="http://expressjs.com/" target="_blank">Express</a> and <a href="http://dev.mysql.com/" target="_blank">MySQL</a> app on <a href="https://www.openshift.com/" target="_blank">OpenShift.</a></p>
            <p>The name is pronounced "see-on", after my wife.</p>
            <p><a href="https://github.com/ZICKONEZERO/SEON" target="_blank" class="btn btn-primary btn-large">Fork Me! &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
            <div class="span12">
                <form id="contact_form" class="navbar-form pull-left">
                    <input id="num_field" class="span2" type="text" placeholder="Number">
                    <input id="first_name_field" class="span2" type="text" placeholder="First Name">
                    <input id="last_name_field" class="span2" type="text" placeholder="Last Name">
                    <button type="submit" class="submit btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>MySQL Data + EJS</h2>
                <p>Using <a href="http://embeddedjs.com/" target="_blank">EJS</a>, it's easy to create dynamic MVC-style markup. The following are accessed from the MySQL section in the server.js file, and called from the "seon" db. To add more, use the form above!</p>
                <ul>
                    <% for(var i=0; i<surfers.length; i++) { %>
                        <li>
                            <%= surfers[i].number %> - <%= surfers[i].firstName %> <%= surfers[i].lastName %>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="span4">
                <h2>Node.JS + NPM</h2>
                <p>Additional modules can be accessed through <a href="https://npmjs.org/" target="_blank">NPM</a>. Yes, you will have to hone your command line skills! The only three modules installed for this app are:</p>
                <ul>
                    <li>EJS</li>
                    <li>Express</li>
                    <li>MySQL</li>
                </ul>
           </div>
            <div class="span4">
                <h2>Initializr + Bootstrap</h2>
                <p>The front-end is built on the <a href="http://www.initializr.com/" target="_blank">Twitter Bootstrap</a> version of Initializr (formerly HTML5 Boilerplate). It's fully-responsive and bad-ass! <strong>To get started</strong>, do the following:</p>
                <ul>
                    <li>Create an OpenShift account</li>
                    <li>Create a Node.JS app and fork directly from GitHub</li>
                    <li>Add the MySQL and phpMyAdmin cartridges</li>
                    <li>Clone the OpenShift repo to your computer</li>
                    <li>Upload surfers.sql into phpMyAdmin</li>
                </ul>
            </div>
        </div>

        <hr>

        <footer>
            
        </footer>

    </div> <!-- /container -->
<%- include footer.html %>
</body>